body{
background: steelblue;
margin: 0;
padding: 0;
position: center;
}

h1{
    font-family: Jazz LET, fantasy;
    text-align: center;
    font-size-adjust: 0.60;
    font-style: italic;
    font-weight: 600;
}

.welcomeMessage{
    margin-left: 3%;
    color: lavender;
    background-color: indigo;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    font-weight: 600;
    width: 300px;
    padding: 50px;
    top: 25%;
    left: 4%;
    position: absolute;
    border-radius: 24px;
}

.box{
    width: 300px;
    padding: 35px;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 24px;;
    background-color: indigo;
    text-align: center;
}

.box h2{
    color: white;
    text-transform: uppercase;
    font-weight: 500;
}

.box input[type = "text"],.box input[type = "text"],.box input[type = "text"]{
    border:0;
    background: none;
    display: block;
    margin:10px auto;
    text-align: center;
    border: 2px solid #3498db;
    padding: 14px 10px;
    width: 200px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
}

.box input[type = "text"]:focus,.box input[type = "text"]:focus,.box input[type = "text"]:focus{
    width: 240px;
    border-color: #2ecc71;
}

.box button[type = "submit"]{
    border:0;
    background: none;
    display: block;
    margin:20px auto;
    text-align: center;
    border: 2px solid #2ecc71;
    padding: 14px 40px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
}

.box button[type = "submit"]:hover{
    background: #2ecc71;
}

.box ::placeholder{
    color: white;
}

.name{
    font-family: Palatino, URW Palladio L, serif;
    font-size: 30px;;
    text-decoration: none;
    color: black;

}

.Image{
    border: 2px solid black;
    border-radius: 10px;
    max-width: 100%;
    height: auto;
}

.Image:hover{
    box-shadow: 0 0 4px 2px black;
}

.description{
    font-family: Andale Mono, monospace;
    font-size: 18px;
    font-stretch: expanded;
    font-weight: 600;

}

.result{
    width: 1400px;
    padding: 10px;
    position: absolute;
    top: 80%;
    left: 1%;
    transform: translate(7%, -5%);
    text-align: center;
    border-radius: 24px;
}
